<div class="col-xs-12 hidden-lg hidden-md">
	<div class="refine-select-button-list">
		<span class="refine-select-button" *ngFor="let facet of selectedFacetItems | keys">
			{{facet.value | label : facets : facet.key}}
			<a (click)="onDeselectFacetItem(facet.key); false">
				<i class="fa fa-times delete-item"></i>
			</a>
		</span>		
	</div>
	<div id="refine-collapse1" class="sidebar-collapse" [@refineFadeInOut]="isCollapsed">
		<div class="sidebar-slider">
			<ul class="padd-16 col-xs-6 col-sm-6" [ngClass]="{'collapse' : isAllFacets}">
				<li class="sidebar-list-item" (click)="onSelectDate()" [ngClass]="{'hide': searchIn == 'all_experts'}">
					<a class="sidebar-menu-trigger">{{specificDateRange | locale : i18nValues}}</a>
				</li>	
				<li class="sidebar-list-item" (click)="onSelectFacetName(facet)" *ngFor="let facet of facetNames">
					<a class="sidebar-menu-trigger">{{facet | locale : i18nValues}}</a>
				</li>			
			</ul>
			<ul class="padd-16 col-xs-6 col-sm-6">
				<li class="sidebar-list" [ngClass]="{'collapse' : isDate}" [ngClass]="{'hide': searchIn == 'all_experts'}">
					<ul>
						<li><a class="sidebar-menu-trigger-back" (click)="onBack()"><b>{{back}}</b></a></li>
						<li *ngFor="let timeframe of timeFrames | timeFrameContains : timeFrameItems">
							<a data-customlink="sf:body content" (click)="onSelectTimeFrame(timeframe.value); false" [ngClass]="{'disable-click': (timeFrameItems | objectContains : timeframe.label)}">
								<span class="sidebar-sublist-item">{{timeframe.label | locale : i18nValues}}&nbsp;</span>
								<span class="list-item-num"></span>
							</a>
							<a (click)="onDeselectTimeFrame(); false" *ngIf="timeFrameItems | objectContains : timeframe.label">
								<i class="fa fa-times-circle-o"></i>
							</a>
						</li>
							
						<li>	
							<div class="clear"></div>						
							<table class="m-spec-date">
								<tbody>
									<tr>
										<td>
											<div class="_loop_primary_input start_date">
												<label class="input_text">{{startDateLabel | locale : i18nValues}}</label>
												<my-date-picker [options]="startDateOptions" (dateChanged)="onStartDateChanged($event)" [placeholder]="datePlaceholder" [selDate]="startDate"></my-date-picker>	
											</div>
										</td>

										<td>
											<div class="_loop_primary_input end_date">	
												<label class="input_text">{{endDateLabel | locale : i18nValues}}</label>
												<my-date-picker [options]="endDateOptions" (dateChanged)="onEndDateChanged($event)" [placeholder]="datePlaceholder" [selDate]="endDate"></my-date-picker>
											</div>
										</td>
										<td>
											<div class="submit-btn">
												<a (click)="onDateRange(); false"><i [ngClass]="dateIcon"></i></a>
											</div>											
										</td>										
									</tr>
								</tbody>
							</table>							
						</li>
					</ul>
				</li><!-- end Timeframe-->

				<li class="sidebar-list" [ngClass]="{'collapse' : isFacets}">
					<ul *ngFor="let facet of facets | mobileFacetContains : facetName; let i = index;">
						<li><a class="sidebar-menu-trigger-back" (click)="onBack()"><b>{{back}}</b></a></li>
						<li *ngIf="(facet.facetItems | length) > 6 && !(selectedFacetItems | objectContains : facet.facetName)">
							<div class="_loop_primary_search">	
						        <input type="search" [(ngModel)]="search" placeholder="{{searchPlaceholder}}" id="primary_inputs-1">	       						        
						  	</div>				   
					    </li>
						<li *ngFor="let facetItem of facet.facetItems | facetContains : selectedFacetItems : facet.facetName : search : limitFacets : i">
							<a data-customlink="sf:body content" (click)="onSelectFacetItem(facet.facetName, facetItem.name); false" [ngClass]="{'disable-click': (selectedFacetItems | objectContains : facet.facetName)}">
								<span class="sidebar-sublist-item">{{facetItem.label}}&nbsp;</span>
								<span class="list-item-num">({{facetItem.count}})</span>
							</a>
							<a class="remove-btn" *ngIf="selectedFacetItems | objectContains : facet.facetName" (click)="onDeselectFacetItem(facet.facetName); false">
			          			<i class="fa fa-times-circle-o"></i>
			        		</a>
						</li>
						<div class="expand-link" *ngIf="(facet.facetItems | length) > 6  && !(selectedFacetItems | objectContains : facet.facetName)">
							<a *ngIf="!(limitFacets | contains : i)" (click)="onSeeMore(i); false">{{seeMore | locale : i18nValues}}</a>
							<a *ngIf="(limitFacets | contains : i)" (click)="onSeeLess(i); false">{{seeLess | locale : i18nValues}}</a>	
						</div>
					</ul>
				</li>
			</ul>
		</div>	
	</div>
</div>