<!-- Begin Project Listing -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div *ngIf="(facetsResponse | length) == 0">
			<div style="font-weight: 600;" [innerHTML]="noData"></div>	
		</div>

		<div *ngIf="(facetsResponse | length) > 0">	
			<!-- Begin Shorting  -->
			<div class="f05v6-sorting clearfix">
				<div class="f05v6-sorting-label">{{sortBy | locale : i18n}}: </div>
				<ul *ngIf="!isSearch">
					<li>
						<a data-customlink="ss:body content" [ngClass]="{'event-disable-click': srt == 'date'}" (click)="getSortBy('srt=date'); false">{{date | locale : i18n}}</a>
					</li> 
				</ul>
				<ul *ngIf="isSearch">
					<li>
						<a data-customlink="ss:body content" [ngClass]="{'event-disable-click': srt == 'score'}" (click)="getSortBy('srt=score'); false">{{bestMatch | locale : i18n}}</a>
					</li> 
					<li>|</li>
					<li>
						<a data-customlink="ss:body content" [ngClass]="{'event-disable-click': srt == 'date'}" (click)="getSortBy('srt=date'); false">{{date | locale : i18n}}</a>
					</li> 					
				</ul>			
			</div>
			<!-- End Shorting  -->				
			<div class="row" *ngFor="let multi of multimedia">
				<div class="equal-height">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height-item" *ngFor="let media of multi">
	            		<div class="card-v4-section multimedia_card_v1">
		                    <div class="card-wrapper">
		                    	<div class="card-img-wrapper">
		                            <a data-searchresult="y" data-customlink="sr:body content" href="{{media.url}}">
		                                <img src="{{media.keyframeurl}}" title="Image" class="img-responsive embed-image" [ngClass]="{'infographic-img': (media.multimedia_class | objectFilter) == 'Infographic'}" alt="Image">
		                                <i [ngClass]="media.multimedia_class | mediaIcon"></i>                              
		                            </a>   
		            		    </div>
		                        <div class="card-content">
		                            <div class="hammer">
			                            <span>{{media.multimedia_class | objectFilter}}</span>
			                            <span>{{media.content_date | dateFormat : localeAndDateFormat}}</span>
		                            </div>
		                            <h4><a data-searchresult="y" data-customlink="sr:body content" href="{{media.url}}">{{media.short_title}}</a></h4>
		                        </div>
		                    </div>
	            		</div>
	            	</div>
				</div>
			</div>			
		</div>
	</div>
</div>
<!-- End Project Listing -->				