<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    <div class="listing_search">
	    	<div class="header-search-section">		    	
		        <form class="input-group has-feedback" (ngSubmit)="onSearch()">
			    	<input type="text" class="search-input-field-1" label="search" title="search" [(ngModel)]="searchValue" placeholder="{{placeholder}}" [ngModelOptions]="{standalone: true}">
			    	<i class="fa fa-search search-submit-icon search-comp" (click)="onSearch()"></i>			    	
				</form>			
	    	</div>
	    </div>
	</div>
</div>